body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #e7e7e7;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    height: 100%;
    padding: 1rem;
}
#profile-pic {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

#name {
    color: rgb(0, 119, 76);
}

.subtitle {
    color: rgb(0, 119, 76);
}

a {
    color: inherit;
    text-decoration: none;
}

#social-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.socials-logo {
    height: 32px;
    width: 32px;
}

.source-code-pro-dsasdas {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}